<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/elc_openiot.png" /> <a href="https://events.linuxfoundation.org/events/elc-openiot-europe-2018/">Embedded Linux Conference - Europe</a></h2>
                    <h5>By Paul Brown</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-right">
                                <img width="100%" src="images/events/ELC_eu_expo.jpg" alt=""/>
                                <figcaption>ELC Europe's expo area.</figcaption>
                            </figure>                        
                        
                        
                            <p><a href="https://events.linuxfoundation.org/events/elc-openiot-europe-2018/">ELC Europe 2018</a> was quite a big event that congregated engineers and companies working within the embedded device sector. The 2018 edition was held in Edinburgh in October simultaneously with the Kernel Summit and the Open Source Summit, so a large chunk of the open source industry was in attendance.</p>
                            
                            <p>Our aim at ELC was to attract several groups: sponsors, developers to boost the community, and companies that would want to pre-install KDE software. The Linux Foundation - organizers of the event - kindly provided us with a booth. Jonathan Riddell, Adriaan de Groot and Paul Brown staffed the booth, with extra support provided by Kenny Coyle and Agustín Benito.</p>
                            
                            <p>Although we managed to grab the attention of device vendors and developers (as was our plan), we also found that many attendees were interested in Plasma and KDE apps as end-users. For them, we shifted the focus to Plasma and how it allows you to have your cake and eat it: you could have a beautiful and feature-rich desktop environment, but it would also be functional, configurable, light and snappy.</p>
                            
                            <figure class="image-left">
                                <img width="100%" src="images/events/ELC_eu_booth.jpg" alt=""/>
                                <figcaption>KDE booth showing off Plasma embedded, Plasma Moblie, gadgets and merch.</figcaption>
                            </figure>
                            
                            <p>Conversations with attendees provided valuable feedback that we used to promote other KDE software, too. When one developer pointed out that most developers work for mobile platforms (which is statistically true -- the best kind of true), this allowed us to point out that the fundamentals of <a href="https://kde.org/plasma-desktop">Plasma Desktop</a> and <a href="https://www.plasma-mobile.org/">Plasma Mobile</a> were essentially the same. More importantly, we explained that <a href="https://kde.org/products/kirigami/">Kirigami</a> makes the distinction between both kind of apps irrelevant: you can develop one app for multiple platforms in one go.</p>
                            
                            <p>We had Nexus 5 and Raspberry Pi running Plasma Mobile to prove that point, and then KDE Slimbooks 1 & <a href="https://kde.slimbook.es/">2</a>, a <a href="https://store.pine64.org/?product=pinebook">Pinebook</a> and <a href="https://www.pine64.org/devices/single-board-computers/rock64/">Pine Rock64</a>, all running <a href="https://neon.kde.org/">KDE neon</a> to illustrate how manufacturers could rely on KDE software for OEM devices. The other point we were out to make is that, despite the wide range of hardware, from low-powered SBCs to sophisticated ultrabooks, Plasma Desktop and Plasma Mobile work well on all of them. The variety of gadgets on display attracted a constant flow of visitors, allowing us to reach a lot of people. The organizers had set up a booth-bingo that required attendees to visit all booths to opt to a big prize, which worked in our favor. </p>
                            
                            <p>Companies, however, were not the ones we were looking for. Neither Samsung, nor LG, nor Huawei, nor smaller manufacturers were there. This has changed from prior ELC editions, so we still have to identify the events they attend.</p>
                            
                            <p>Although the developers attending were mostly focused on deeply embedded systems and only superficially interested in front-end, user-friendly interfaces, we still achieved some goals. We worked on convincing more users to adopt Plasma and other KDE software. We got ourselves into the news, and hopefully enticed other manufacturers to talk to us. Last but not least, we made contact with a major tech-event organizer that was interested in having us at their events, and with an electronics DIY manufacturer that may be interested in pre-installing Plasma on one of their kits. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/>
</section>
