<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/Mascot_konqi-commu-journalist_small.png" /> KDE Promo Sprint, February 2018, Barcelona</h2>
                    <h5>By Paul Brown</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img  width="100%" src="images/sprints/promo-sprint-group1_cropped.jpg" alt=""/>
                                <figcaption>Back row, from left to right: Ivana Isadora Devčić, Paul Brown, Jure Repinc, Kenny and Rubén Gómez. Front row, from left to right: Lydia Pintscher, Neofytos Kolokotronis, Łukasz Sawicki and Aleix Pol.</figcaption>-->
                            </figure>
                        
                            <p>February 2018 was a big month for the Promo team - we held a long-awaited sprint in Barcelona, Spain from the 16th to 18th. The aim of the sprint was to look at information we had collected over the prior years, interpret what it meant, and use it to discuss and plan for the future. The activities we came up with should help us accomplish our ultimate goal: increasing KDE's visibility and user base.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Nine members of the team made it to Barcelona: Aleix Pol, Ivana Isadora Devčić, Jure Repinc, Kenny, Łukasz Sawicki, Lydia Pintscher, Neofytos Kolokotronis, Paul Brown, and Rubén Gómez. We met at Espai 30, an old factory converted into a social center for the neighborhood. Coincidentally, that is one of the places where the Guifi.net project started -- rather fitting for a meeting that comprised Free Software and communication.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>During the informal afternoon meeting on the first day, we discussed the plans for improving the KDE.org website; both visually and content-wise. The consensus was that the website should inform the general public about what KDE is - not a desktop, but the community that creates, maintains, documents, translates, and promotes a large body of multi-purpose software. We should also make sure the website caters equally to the tech savvy and unsavvy, since KDE's software is meant for everybody. The new site should clearly direct users to our products, allowing end users to simply download and use them. At the same time, the website should ease the way for potential contributors to join the community.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <p>The second day of the sprint started with a recap of Promo's main activities over the last year or so, revisiting funding campaigns we promoted and communication tactics we implemented. Next we looked at hard, cold data, collected from social media accounts, web statistics, and distro popcons (application popularity contests). The data helped us pinpoint wins and fails in our approach to communicating with the outside world, and revealed some correlations between our efforts and the traffic to our outlets. We identified several ways to make our social media posts more attractive, and then shifted our focus to events. Apart from discussing plans for Akademy 2018, we also talked about visiting other technical and not-so-technical events in order to increase our user base, attract new contributors, and reach audiences that are currently not aware of technologies that KDE develops.</p>
                            
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/promo-sprint1_1500.jpg" alt=""/>
                                <figcaption>We had a look at hard, cold data to try and figure out the effect of Promo activities on uptake, community growth, etc..</figcaption>
                            </figure>

                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <p>Another important topic covered during the Promo sprint were the long-term community goals; especially the goal of streamlining the onboarding of new contributors. The Promo team is trying to identify where people struggle in the process of joining Promo, and is working on eliminating those obstacles. One concrete example is creating a list of simple tasks for beginners.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <p>The last day of the sprint was dedicated to classifying and assigning the variety of Promo jobs to smaller groups of people with the best skills to carry them out. We also discussed different methods of promoting KDE software; for example, publicity stunts like full page ads in prominent newspapers, or messages on public transport. We started brainstorming a list of "influencers", journalists, and publications that could help us with indirectly increasing the popularity of KDE. We also decided to take a step back and work on a market research project that will provide us with solid information on which to base our actions. Last but not least, we realized we could improve our videos and help them reach a wider audience by adding subtitles in multiple languages.</p>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <p>This was an intense and intensive sprint. The full list of topics we discussed is longer than this report, but we managed to devote enough time to the most pressing issues. We came up with ideas for targets and ways to work towards them that will translate into real results. Developing KDE's software is super-important, but so is spreading the message that the software exists and that everybody, regardless of their level of computer-literacy, can and should use it. That is what the Promo team is all about, and we will keep practicing what we preach.</p>
                        </div>
                    </div>
                </div>            
            
            
            </div>
        </div>
    </div>
    <br/>
</section>
