<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <img src="images/calligra-logo.png"/> Calligra Sprint
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>A mini-sprint dedicated to Calligra text-handling modules and applications took place in January 2016 in Deventer, Netherlands. It was hosted by Boudewijn and Irina of Krita fame. Since porting of Calligra apps, plugins and libs to Qt5/KF5 was nearly complete, it was time to start working on new features.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>They also looked into Calligra plugins for the document viewer, Okular, and partially fixed the positioning of headings in the table of contents. Finally, they worked on using the layout structure data to calculate character position on a page, and implemented plugins for text selection and hyperlinks - a feature which is now available in Calligra 3.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>One of the main discussion points was the current text-layout system. Its architect, Camilla Boemann, explained the current design and code. In light of the new insights about the layout system, developers drafted and began implementing the concept of text sections (as in OpenDocument Format).</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Given that some contributors have left their projects, the future of different text editing applications - Author, Words and Calligra Gemini - was also discussed at the sprint. Author has been removed from the codebase, and Calligra Gemini is currently pending the same fate.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
