<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <img src="images/kde-logo.png"/> LaKademy 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>LaKademy (The LatinAmerica KDE Summit) is a meeting place where new and veteran Latin-American contributors work on existing community projects and create new ones. Since 2012, the event has brought together Latin-American KDE contributors from Brazil, Argentina, and Peru. Apart from developer sprints, LaKademy also features discussions about the KDE Community in Latin America, their previous work, finances, future event organization, and strategies for engaging new contributors.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Since LaKademy has always taken place in Brazil, we are trying to come up with solutions to increase the number of participants from other countries. That would give us a good reason to organize the first edition of LaKademy outside Brazil. We will remember 2016 as a significant year for LaKademy, because this was the first time we were able to decide on the location of the next LaKademy during the promo meeting! Fred offered to organize the event in his city, Belo Horizonte, between April 28 and May 1, 2017. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>This year LaKademy attracted around 20 contributors and took place in Rio de Janeiro, Brazil, from the 26th to 29th of May at the Federal University of State of Rio de Janeiro (UNIRIO). We worked on several community projects: translation, promotion, Plasma widgets, Cantor, Minuet, Umbrello, BRPrint-3D, and more. A decent chunk of time was dedicated to planning the celebration of KDE's 20th anniversary. We also welcomed a few first-time attendees: Enoque, Nicolás and Lays. Enoque worked on the development of a new Plasma widget to interact with Phabricator, and LaKademy was his first contact with the community. Lays is also a newcomer, having joined us in 2016. She worked on her BRPrint-3D project and her Google Summer of Code project on Umbrello. Nicolás is already a long-time KDE contributor, but this was his first time at LaKademy. He worked with Rafael on many sysadmin tasks. Non-coding contributions are important to us, so we also had a group dedicated to reviewing translation packages and reshaping the glossary of the Brazilian Portuguese team. Camila, Aracele and Fred proposed the reactivation of an old website with a standardized vocabulary for free software projects in Brazil. This is a resource that the KDE pt_BR team can largely benefit from.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/lakademy.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>LaKademy 2016</h3>
                                    <p>A Happy Family of Latin-American KDE Contributors</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/lakademy.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>As is traditional at LaKademy, we reserved the second-to-last day for the promo meeting, an event all our participants are invited to contribute to. Camila and Aracele worked on creating a checklist and a post-event metric system aimed at improving the organization of LaKademy.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>As LaKademy moves towards its 5th edition, we hope that more new contributors will join the community, and that we will make LaKademy 2017 as productive as we did in 2016. Photos of the event can be found <a href="https://www.flickr.com/photos/kdebr/sets/72157668445531240/with/27369887291/" target="_blank">here</a>.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
