<div class="thoughts-container">
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/alejandro_square_1500.jpg"/>
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        Since the beginning of SLIMBOOK, we have always wanted to contribute to the communities, applications, and developers that make Linux possible. KDE and its community are perhaps the most active and enriching in Linux. It was impossible for us not to join them and make our contribution to activate the Linux ecosystem.
      </p>
      <p class="block-text">
        That's why we launched the first KDE Slimbook in 2017. We couldn't be happier and more grateful for these 6 years and 4 generations of laptops. Long live KDE and the community-driven projects. Regardless of our condition, origin, or creed, Linux has brought us all together and made us better humans.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Alejandro López, CEO at Slimbook</i>
        </p>
      </div>
    </blockquote>
  </div>
</div>

<div class="thoughts-container">
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        Much of the perceived success of open source today is at a commercial level where the power of innovation unleashed by our collaborations underpins the mightiest innovations, from AI to our national infrastructure. Yet for me what matters most is the people who build this code, contributors and maintainers building the base software such as operating systems like Ubuntu and KDE.
      </p>
      <p class="block-text">
        I have served on the KDE Advisory Board for several years and what drew me to the Board is how this project supports people. I’ve never met a KDE contributor I didn’t like, as we consistently have shared values and I appreciate the work they put in to making technology what it is today.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Amanda Brock, CEO at OpenUK</i>
        </p>
      </div>
    </blockquote>
  </div>
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/Amanda-Brock_square.jpg"/>
  </div>
</div>

<div class="thoughts-container">
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/kdab_tilladam_square.jpg"/>
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        KDAB and KDE go back to the very beginning of KDE, bound by our joint appreciation of the Qt framework as well an abiding belief in the importance of the developer experience. Both KDAB and KDE have fostered communities of excellence where cooperation is key to success. KDAB is glad to support KDE’s continuing drive to innovate diverse, open source applications “for everyone”.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Till Adam, Chief Commercial Officer at KDAB </i>
        </p>
      </div>
    </blockquote>
  </div>
</div>



<div class="thoughts-container">
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        Not just that we became KDE patron  - our TUXEDO_OS will be from now on with KDE Plasma Desktop, as it offers a wealth of customization options. In addition, KDE Plasma Desktop enjoys great popularity alongside Gnome.
      </p>
      <p class="block-text">
        The progress that KDE and Plasma made through the last year is amazing! The Plasma desktop evolves to the leading desktop environment and to the most powerfull tool that the Linux ecosystem has to make the coming year the year of the Linux Desktop, finally.
      </p>
      <p class="block-text">We're happy to be a part of the KDE Community and are trying to support KDE and it's community as good as possible. We're looking forward to more events, more talks, more products and more fun. 🙂
      </p>
      <p class="block-text">We're sure that the step to chose the Plasma Desktop as our main desktop environment for TUXEDO OS was the right desicion and are looking forward to Plasma 6.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Herbert Feiler, CEO TUXEDO Computers</i>
        </p>
      </div>
    </blockquote>
  </div>
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/tuxedo_feiler_square.jpg"/>
  </div>
</div>

<!--
<div class="thoughts-container">
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        Thanks to KDE e.V. and the amazing KDE community, since 2017 we were able to ship open-source notebooks and smartphones pre-installed with Plasma Desktop and Plasma Mobile, which has always integrated well with our product range.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Marek Kraus, PINE64</i>
        </p>
      </div>
    </blockquote>
  </div>
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/marek_square.jpg"/>
  </div>
</div>

<div class="thoughts-container">
  <div id="quote-photo">
    <img class="img-circle center-block img-responsive" src="images/Quotes/TuukkaTurunen_square.jpg"/>
  </div>
  <div>
    <blockquote class="py-3">
      <span class="fa fa-3x fa-quote-right"></span>
      <p class="block-text">
        We are very happy that KDE is actively working to migrate their frameworks and applications to use Qt 6 and value KDE's feedback and contributions that help improve Qt.
      </p>
      <hr>
      <div>
        <p class="float-xs-left">
          <i>Tuukka Turunen, Senior Vice President R&D of The Qt Company</i>
        </p>
      </div>
    </blockquote>
  </div>
</div>
-->
